CheP1
[
    {
        "id": "d977bbf8.638468",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "edbad665.5d0838",
        "type": "debug",
        "z": "d977bbf8.638468",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "31317ddf.edc252",
        "type": "rpi-gpio out",
        "z": "d977bbf8.638468",
        "name": "Green LED",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 910,
        "y": 240,
        "wires": []
    },
    {
        "id": "844c7c50.e5505",
        "type": "rpi-gpio in",
        "z": "d977bbf8.638468",
        "name": "Button",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "edbad665.5d0838",
                "82a2dcb9.3f971"
            ]
        ]
    },
    {
        "id": "82a2dcb9.3f971",
        "type": "switch",
        "z": "d977bbf8.638468",
        "name": "if input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "34dfa6a2.de4dda"
            ],
            [
                "94debf22.95374"
            ]
        ]
    },
    {
        "id": "34dfa6a2.de4dda",
        "type": "change",
        "z": "d977bbf8.638468",
        "name": "change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 240,
        "wires": [
            [
                "31317ddf.edc252"
            ]
        ]
    },
    {
        "id": "94debf22.95374",
        "type": "change",
        "z": "d977bbf8.638468",
        "name": "change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 300,
        "wires": [
            [
                "31317ddf.edc252"
            ]
        ]
    }
]
