Flow5
[
    {
        "id": "d977bbf8.638468",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d65eb96d.b17048",
        "type": "http in",
        "z": "d977bbf8.638468",
        "name": "Set GPIO5",
        "url": "/setgpio5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "85c731b8.f5ad",
                "a652d64.1e9bc28"
            ]
        ]
    },
    {
        "id": "85c731b8.f5ad",
        "type": "function",
        "z": "d977bbf8.638468",
        "name": "Set to 1",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 280,
        "wires": [
            [
                "cf930612.da85f8"
            ]
        ]
    },
    {
        "id": "cf930612.da85f8",
        "type": "rpi-gpio out",
        "z": "d977bbf8.638468",
        "name": "",
        "pin": "29",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 940,
        "y": 360,
        "wires": []
    },
    {
        "id": "a652d64.1e9bc28",
        "type": "function",
        "z": "d977bbf8.638468",
        "name": "Return Status",
        "func": "msg.payload = \"GPIO5 set to HIGH\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 180,
        "wires": [
            [
                "f1c7d0ad.7d914",
                "624bb33e.256b7c"
            ]
        ]
    },
    {
        "id": "f1c7d0ad.7d914",
        "type": "http response",
        "z": "d977bbf8.638468",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 240,
        "wires": []
    },
    {
        "id": "624bb33e.256b7c",
        "type": "debug",
        "z": "d977bbf8.638468",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1150,
        "y": 420,
        "wires": []
    },
    {
        "id": "274734a.b2230cc",
        "type": "http in",
        "z": "d977bbf8.638468",
        "name": "Clear GPIO5",
        "url": "/clear5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 470,
        "y": 440,
        "wires": [
            [
                "1df140bd.fdf49f",
                "94453861.734548"
            ]
        ]
    },
    {
        "id": "1df140bd.fdf49f",
        "type": "function",
        "z": "d977bbf8.638468",
        "name": "Clear to 0",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 440,
        "wires": [
            [
                "cf930612.da85f8"
            ]
        ]
    },
    {
        "id": "94453861.734548",
        "type": "function",
        "z": "d977bbf8.638468",
        "name": "Return Status",
        "func": "msg.payload = \"GPIO5 set to LOW\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 520,
        "wires": [
            [
                "624bb33e.256b7c",
                "f1c7d0ad.7d914"
            ]
        ]
    }
]
